header
	nav
		ul.navigation-container
			li.logo-item
				a(href='.')
					h1= header.title
					p= header.subtitle
			li
				ul.link-item-container
					each link in header.links
						li
							a.link-item(href=('#' + link.id))=link.name
					li.language
						a(href=('https://aber-is.de/' + header.alt_lang + '/'))
							img(src=require('../images/header/' + header.alt_lang + '.jpg').default)
		a.mobile-language(href='https://aber-is.de/' + header.alt_lang + '/')
			img(src=require('../images/header/' + header.alt_lang + '.jpg').default)


