header
	nav
		ul.navigation-container
			li.logo-item
				a(href='.')
					h1= header.title
					p= header.subtitle
			li
				ul.link-item-container
					each link in header.links
						li
							a.link-item(href=`#${link.id}`)=link.name

