section#hero
	.hero-container.swiper-container
		each slide in hero.slides
			- var url = require('../images/hero/' + slide.id + '.jpg').default;
			.hero-slide(style=('background-image: url(' + url + ')'))
				.wrapper.hidden
					h2=slide.title
					p=slide.body
