@mixin hero {
	#hero {
		padding-top: 0;
		max-width: 100%;
		height: 50vh;

		.hero-container {
			height: 100%;
			width: 100%;
		}

		.hero-slide {
			position: relative;
			height: 50vh;
			overflow: hidden;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			z-index: -99;

			display: flex !important;
			justify-content: flex-start;
			align-items: flex-end;

			> .wrapper {
				margin: 0 0 0.4rem 0.8rem;
				width: 50%;
				padding: 0.3rem;
				background-color: rgba($color: #000000, $alpha: 0.4);
				> h2 {
					@include h2;
					font-weight: 100;
					color: #fff;
					margin-bottom: 0.2rem;
				}

				> p {
					@include h4;
					font-weight: 100;
					color: #fff;
				}

				&.hidden {
					display: none;
				}
			}
		}
	}

	@media (max-width: 1024px) {
		#hero {
			height: 30vh;
			.hero-slide {
				height: 30vh;
				> .wrapper {
					margin: 0;
					width: 100%;
				}
			}
		}
	}
}
