@mixin services($primary-color, $secondary-color) {
	#services {
		overflow: hidden;
		padding: 0.3rem 0;
		background-color: $primary-color;

		> .wrapper {
			margin: auto;
			max-width: 1000px;
			min-width: 80%;

			> h2 {
				@include h2;

				margin-bottom: 0.15rem;
			}

			> p {
				@include desc1;

				margin-bottom: 0.3rem;
			}

			> section {
				display: grid;
				grid-template-rows: 1fr 1fr;
				grid-template-columns: 1fr 1fr;
				row-gap: 0;
				column-gap: 0.6rem;
				margin: 0.4rem 0;
				width: 100%;

				> .text {
					grid-column-start: 1;
					grid-column-end: 2;
					grid-row-start: 1;
					grid-row-end: 4;

					> h3 {
						@include h3;
						font-weight: var(--font-weight-6);
						margin-bottom: 0.15rem;
					}

					> p {
						@include desc1;
						margin-bottom: 0.15rem;
					}

					> ul {
						margin-left: 0.2rem;
					}

					> ul > li {
						@include h4;
						list-style-type: disc;
					}

					> ul > li:not(:last-child) {
						margin-bottom: 0.1rem;
					}
				}

				> .services {
					grid-column-start: 2;
					grid-column-end: 3;
					grid-row-start: 1;
					grid-row-end: 4;

					display: flex;
					overflow: hidden;

					.services-container {
						flex: 1;
						overflow: hidden;
						height: 100%;
					}

					.services-container > .swiper-button-next,
					.services-container > .swiper-button-prev {
						color: #7a7a7a;
					}

					.services-slide {
						display: flex;
						justify-content: center;
						align-items: center;
						background-color: $secondary-color;
					}

					.services-slide > img {
						box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
							0 6px 6px rgba(0, 0, 0, 0.23);
						width: 300px;
					}
				}
			}

			> hr {
				border-top: 2px solid #878787;
			}

			> hr:last-child {
				display: none;
			}
		}
	}

	@media (min-width: 1024px) {
		$services: 5;
		@for $i from 1 to $services {
			$even: $i%2 == 0;
			#services > .wrapper > section:nth-of-type(#{$i + 1}) {
				//background-color: if($even, $primary-color, $secondary-color);

				> .text {
					grid-column-start: if($even, 1, 2);
					grid-column-end: if($even, 2, 3);
				}

				> .services {
					grid-column-start: if($even, 2, 1);
					grid-column-end: if($even, 3, 2);
				}
			}
		}
	}

	@media (max-width: 1024px) {
		#services > .wrapper {
			margin: auto;
			max-width: 90%;
			> section {
				column-gap: 0;
				row-gap: 0.3rem;

				.text {
					grid-column-start: 1;
					grid-column-end: 4;
					grid-row-start: 1;
					grid-row-end: 2;
				}

				.services {
					grid-column-start: 1;
					grid-column-end: 4;
					grid-row-start: 2;
					grid-row-end: 3;
				}
			}
		}
	}
}
