@import './common/reset';
@import './common/root';
@import './common/mixins';

@import './pages/header.scss';
@import './pages/hero.scss';
@import './pages/company.scss';
@import './pages/services.scss';
@import './pages/products.scss';
@import './pages/references.scss';
@import './pages/contacts.scss';
@import './pages/imprint.scss';

// Default font
body {
	@include desc1;
}

// Mobile menu
@media (max-width: 1024px) {
	body.fixed {
		position: fixed;
	}
}

$primary-color: #fff;
$secondary-color: #e9edf2;

@include header($items);
@include hero;
@include company($primary-color, $secondary-color);
@include services($secondary-color, $primary-color);
@include products($primary-color, $secondary-color);
@include references($secondary-color, $primary-color);
@include contacts($primary-color, $secondary-color);
@include imprint($secondary-color, $primary-color);
