@mixin h1 {
	color: var(--color-black);
	font-family: var(--main-font);
	font-size: var(--font-size-h1);
	font-weight: var(--font-weight-4);
	letter-spacing: var(--letter-spacing);
	line-height: var(--line-height-h1);
}

@mixin h2 {
	color: var(--color-black);
	font-family: var(--main-font);
	font-size: var(--font-size-h2);
	font-weight: var(--font-weight-4);
	letter-spacing: var(--letter-spacing);
	line-height: var(--line-height-h2);
}

@mixin h3 {
	color: var(--color-black);
	font-family: var(--main-font);
	font-size: var(--font-size-h3);
	font-weight: var(--font-weight-4);
	letter-spacing: var(--letter-spacing);
	line-height: var(--line-height-h3);
}

@mixin h4 {
	color: var(--color-black);
	font-family: var(--main-font);
	font-size: var(--font-size-h4);
	font-weight: var(--font-weight-4);
	letter-spacing: var(--letter-spacing);
	line-height: var(--line-height-h4);
}

@mixin desc1 {
	color: var(--color-black);
	font-family: var(--main-font);
	font-size: var(--font-size-desc1);
	font-weight: var(--font-weight-4);
	letter-spacing: var(--letter-spacing);
	line-height: var(--line-height-desc1);
}

@mixin desc2 {
	color: var(--color-black);
	font-family: var(--main-font);
	font-size: var(--font-size-desc2);
	font-weight: var(--font-weight-4);
	letter-spacing: var(--letter-spacing);
	line-height: var(--line-height-desc2);
}
